.service-faq {
  .title {
    font-size: 16px;
    font-weight: bold;
    border-left: 8px solid #3CC2E9;
    padding-left: 8px;
    margin: 14px 0;
  }
  .question-list-item {
    padding-top: 24px;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    .question-list-icon {
      display: inline-block; 
      width: 18px;
      height: 18px;
      margin-right: 12px;
      vertical-align: middle;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .to-detail {
      color: #3cc2e8;
      cursor: pointer;
    }
  }
  .faq-text {
    p {
      line-height: 30px;
      &:last-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .time {
        color: #666;
      }
    }
  }
  
}
