.manage-water {
  .title {
    color: #333 !important;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 30px;
    i {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;
      vertical-align: text-top;
      margin-right: 5px;
    }
  }
  .form {
    padding: 0 10px;
    background: url('~@/style/imgs/manage-water.png') no-repeat center right;
  }
}
