.video-box {
  margin-bottom: 20px;
  position: relative;
  .video-bg {
    height: 0;
    padding-top: 60%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .icon-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
    cursor: pointer;
  }
  .video-hot {
    position: absolute;
    height: 36px;
    line-height: 36px;
    width: 100%;
    bottom: 38px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      padding-left: 50px;
      height: 20px;
      line-height: 20px;
      display: block;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;
      &:first-child {
        margin-left: -10px;
      }
      &:last-child {
        margin-right: 10px;
      }
    }
}
  .video-info {
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon-del {
      vertical-align: middle;
      cursor: pointer;
    }
  }
}

.video-container {
  width: 100%;
  height: 100%;
  position: relative;
  .video {
    display: inline;
  }
  .control-bar {
    position: absolute;
    bottom: 5px;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    .ant-slider {
      margin: 0;
      padding: 0;
    }
  }
}
.control {
  padding: 0 20px 5px;
  div > *{
    display: inline-block;
    line-height: 30px;
    vertical-align: top;
  }
} 
.control-resize {
  width: 18px;
  height: 18px;
  background: url('../../../style/imgs/resize.png') no-repeat center center;
}
.ant-popover-inner-content {
  padding: 12px 0;
}
video::-webkit-media-controls,
video::-moz-media-controls,
video::-webkit-media-controls-enclosure{
  display:none !important;
}

video::-webkit-media-controls-panel,
video::-webkit-media-controls-panel-container,
video::-webkit-media-controls-start-playback-button {
  display:none !important;
  -webkit-appearance: none;
}
:-webkit-full-screen video {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
 }
.center-pause-btn {
  position: absolute;
  
}